<!DOCTYPE html>
<html lang="en-us">

  {% include head.html %}

  <body>

    {% include sidebar.html %}

    <div class="content container home">
    	<h1>Coming in 2017 the new album by Mancunian Candidate</h1>
    	<h3>Get your pre-release copy today!</h3>
    	<div class="cd-img">

	     	<img src="img/cd-small.jpg">
	     </div>
	     <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
			<input type="hidden" name="cmd" value="_s-xclick">
			<input type="hidden" name="hosted_button_id" value="2T5JKLTX8366L">
			<input type="image" src="img/buynow.png" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
		</form>
    
     	<style>.embed-container { position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden; max-width: 100%; } .embed-container iframe, .embed-container object, .embed-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }</style><div class='embed-container'><iframe src='https://www.youtube.com/embed/nLZi_hSsl-c' frameborder='0' allowfullscreen></iframe></div>
	     
	     <!--<div class="buy-links">
	     	<img class="img-responsive" src="img/itunes.png">
			<img class="img-responsive" src="img/cdbaby.png">
		</div>-->
		<!--<blockquote>
			<p>Swindells’ Mancunian Candidate is a refreshingly suberb effort, echoing the spirit of those great prog rock groups of England’s Canterbury era, like the aforementioned Genesis, Gentle Giant, Hatfield of the North, and yet inspired with the modern sensibility and originality akin to more contemporary prog artists like Steven Wilson. If you like prog, you’ll love Mancunian Candiate.</p>
			<em><a href="http://www.beyondchron.org/matt-swindells-mancunian-candidate/">E Doc Smith, <i>Beyond Chron</i></a></em>
		</blockquote>-->



    </div>

  </body>
</html>
